{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>{% block head_title %} {% endblock %}</title>
    <script type="text/javascript" src="{% static 'main/js/jquery-1.11.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.css.map' %}">
    {% block head_extra %}{% endblock %}
</head>   
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 column">
                <div class="page-header">
                    <h1>
                        Issue Tracker
                    </h1>
                </div>
            </div>
        </div>

        <div class="row" style='text-align:center;'>
            <a href="{ url 'home' %}" >Home</a>
            <a href="{ url 'about' %}">about</a>
            <a href="{ url 'login' %}">Login</a>
        </div>

        



        <div class="row">
            <div class="col-md-12 column">
                {% if messages %}

                {% for message in messages %}

                <div class="alert alert-dismissable">
                   <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                   {{message}}
               </div>
               {% endfor %}
               {% endif %}
           </div>
       </div>
       <div class="row">

        {% block content %}{% endblock %}

    </div>

</div>
        {% block body_extra %}{% endblock %}

</body>
</html>