{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>{% block head_title %} {% endblock %}</title>
    <script type="text/javascript" src="{% static 'main/js/jquery-1.11.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.css.map' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
    <style type="text/css">
    .footer {padding-top: 60px; text-align: left;}
    </style>
    
    {% block head_extra %}{% endblock %}
</head>   
<body>
        <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Issue Tracker</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'index' %}">Home</a></li>
            {% for group in user.groups.all %}
            {% if group.name == 'Helpdesk' %}
            <li>
                <a href="{% url 'ticket_create' %}" style="text-decoration: none;">Create Issue</a>
            </li>
            {% endif %}
            {% endfor %}
            <li><a href="{% url 'ticket_list' %}">View Issues</a></li>
            <li><a href="#">About</a></li>  
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
          {% if request.user.is_authenticated %}
            <a href="#" style="color:#FFF;">Welcome {{request.user.username}}</a>
          {% else %}
            <li><a href="#">New User?</a></li>
          {% endif %}
          </li>
            <li>
              {% if request.user.is_authenticated %}
              <a href="{% url 'logout' %}" >Logout</a>
              {% else %}
              <a href="{% url 'login' %}" >Login</a>
              {% endif %}
          </li>
      </ul>
    </div><!--/.nav-collapse -->
    </div>
    </div>


<div class="container" style="height:600px;"> 
<div class="row" style="">
    <div class="col-md-12 column">
        {% if messages %}

        {% for message in messages %}

        <div class="alert alert-dismissable">
         <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
         {{message}}
        </div>
     {% endfor %}
     {% endif %}
 </div>
</div>
{% block content %}{% endblock %}
</div>

{% block body_extra %}{% endblock %}
<div class="footer">
  <div class="container">
    © 1999-2014 ERC Solutions, Inc. All Rights Reserved.
  </div>
</div>
</body>
</html>