{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>{% block head_title %} {% endblock %}</title>

    {% block css %}
      <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.css.map' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
    {% endblock %}
    <style type="text/css">
    .footer {padding-top: 60px; text-align: left;}
    </style>
    
    {% block head_extra %}{% endblock %}
    <style type="text/css">
    .nav {height: 50px;}
    .nav li {height: 50px;}
    .nav li a{height: 50px;}
    </style>
</head>   
<body>
        <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Issue Tracker</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><img src="{% static 'main/images/logo.png' %}" style="width:50px; margin-right:10px;"></li>
            <li class="active" ><a href="{% url 'index' %}">Home</a></li>
            {% for group in user.groups.all %}
              {% if group.name == 'HelpDesk' %}
              <li>
                  <a href="{% url 'ticket_create' %}" style="text-decoration: none;">Create Issue</a>
              </li>
            {% endif %}
            {% endfor %}
            <li><a href="{% url 'ticket_list' %}">View Issues</a></li>
            <li><a href="#">About</a></li>  
        </ul>
        <ul class="nav navbar-nav navbar-right">
          
          {% if request.user.is_authenticated %}
            <li><a href="#" style="color:#FFF;">Welcome {{request.user.username}}</a></li>
            <li><a href="{% url 'logout' %}" >Logout</a></li>
          {% else %}
            <li><a href="{% url 'register' %}">New User?</a></li>
            <li><a href="{% url 'login' %}" >Login</a></li>
          {% endif %}

      </ul>
    </div><!--/.nav-collapse -->
    </div>
    </div>


<div class="container" style=""> 
<div class="row">
    <div class="col-md-12">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissable alert-{{ message.tags }}">
         <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
         {{message}}
        </div>
     {% endfor %}
     {% endif %}
 </div>
</div>
{% block content %}{% endblock %}
</div>


{% block body_extra %}{% endblock %}
{% block footer %}
<div class="container">
    <div class="col-md-12" style="margin-top:40px;text-align:left;font-weight:bold;">
       <span id="footer">© 1999-2014 ERC Solutions, Inc. All Rights Reserved.</span>
  </div>
</div>
{% endblock %}
{% block js %}    
  <script type="text/javascript" src="{% static 'main/js/jquery-2.1.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'main/js/bootstrap.min.js' %}"></script>
{% endblock %}
</body>
</html>