{% extends 'main/base.html' %}
{% block title %}Index{% endblock %}
{% block welcome %}
<li>
	{% if request.user.is_authenticated %}
    	<a href="#" style="color:#FFF;">Welcome {{request.user.username}}</a>
	{% endif %}
</li>
{% endblock %}

{% block head_extra %}
<style type="text/css">
.issue_create {background-color: #101010; width:11%; height:70px;text-align: center;}
.issue_create span {display: block; padding-top: 17%; color: #FFF; text-decoration: none;}
</style>
{% endblock %}
{% block content %}
{% for group in user.groups.all %}
    {% if group.name == 'Helpdesk' %}
       <a href="{% url 'ticket_create' %}" style="text-decoration: none;">
       		<div class="issue_create">
       			<span>Create Issue</span>
       		</div>
       </a>
    {% endif %}
{% endfor %}
{% endblock %}

