{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block head_extra %}<link rel="stylesheet" type="text/css" href="{% static 'main/css/login.css' %}">
{% endblock %}
{% block welcome %}
<li>
	{% if request.user.is_authenticated %}
    	<a href="#" style="color:#FFF;">Welcome {{request.user.group}} {{request.user.username}}</a>
	{% endif %}
</li>

{% endblock %}
{% block head_title %}Login{% endblock %}

{% block content %}
<div class="row">
    <div class="column col-md-6 col-md-offset-3" >

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="login" />
            <input type="hidden" name="next" value="{% url 'index' %}"/>
        </form>
    </div>
</div>
{% endblock %}