{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
 {{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/login.css' %}">
{% endblock %}

{% block head_title %}Login{% endblock %}

{% block content %}
<div class="row">
    <div class="column col-md-6 col-md-offset-3" >

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="login" />
            <input type="hidden" name="next" value="{% url 'index' %}"/>
        </form>
    </div>
</div>
{% endblock %}