{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}Create Ticket{% endblock %}
{% block welcome %}
<li>
	{% if request.user.is_authenticated %}
    	<a href="#" style="color:#FFF;">Welcome {{request.user.group}} {{request.user.username}}</a>
	{% endif %}
</li>

{% endblock %}

{% block content %}
<div class="row">
    <div class="column col-md-6 col-md-offset-3">
        <form action="" method="post">{% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Create" />
        </form>
    </div>
</div>
{% endblock %}