{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}Create Ticket{% endblock %}

{% block head_extra %}
<style type="text/css">
.list_ticket td a {color:black; font-weight: normal;}
.list_ticket td a:hover {color:black; font-weight: bold;}
</style>
{% endblock %}
{% block welcome %}
<li>
	{% if request.user.is_authenticated %}
    	<a href="#" style="color:#FFF;">Welcome {{request.user.group}} {{request.user.username}}</a>
	{% endif %}
</li>

{% endblock %}
{% block content %}
<div class="row">
	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading">Ticket List</div>
		<!-- Table -->
		<table class="table">
			<tr>
				<th>Name</th>
				<th>Client</th>
				<th>Ticket no</th>
				<th>Status</th>
			</tr>
			{% for ticket in ticket_list %}
			<tr class="list_ticket">
				<td><a href="{% url 'ticket_detail' ticket.id %}">{{ticket.name}}</a></td>
				<td>{{ticket.client}}</td>
				<td>{{ticket.id}}</td>
				<td>
					<span class="label 
					{% if ticket.status == 'N' %}
						label-default
					{% elif ticket.status == 'U' %}
						label-primary
					{% elif ticket.status == 'R' %}
						label-info
					{% elif ticket.status == 'V' %}
						label-success
					{% endif %}
					">{{ticket.get_status_display}}</span>
				

				</td>
			</tr>
			{% endfor %}

		</table>
	</div>
</div>
{% endblock %}