{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block activeview %}class="active"{% endblock %}
{% for entry in entries %}
    {# your code to show the entry #}
{% endfor %}

{% block head_title %}Tickets{% endblock %}

{% block head_extra %}
<style type="text/css">
.list_ticket td a {color:black; font-weight: normal;}
.list_ticket td a:hover {color:black; font-weight: bold;}
</style>
{% endblock %}
{% block content %} 
<div class="endless_page_template">
    {% include page_template %}
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% static 'endless_pagination/js/endless-pagination.js' %}"></script>
    <script>$.endlessPaginate();</script>
{% endblock %}


